<header>
  <div class="logo">
    <img src="/assets/images/logo.png" alt="logo">A.A Mostoles
  </div>
  <nav>
    <a routerLink="/">Inicio</a>
    <a routerLink="/miembros">Miembros del Club</a>
    <a routerLink="/ranking">Ranking</a>
    <a routerLink="/eventos">Eventos</a>
    <a routerLink="/calendario">Calendario</a>
  </nav>
  <div class="menu-icon" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="dropdown" id="dropdown-menu">
    <a routerLink="/">Inicio</a>
    <a routerLink="/miembros">Miembros del Club</a>
    <a routerLink="/ranking">Ranking</a>
    <a routerLink="/eventos">Eventos</a>
    <a routerLink="/calendario">Calendario</a>
    <a routerLink="">Disciplinas</a>
    <a routerLink="">Inicio de Sesión</a>
  </div>
</header>

<main>
  <!-- Profile title -->
  <section class="profile-header">
    <h1>{{ isAthlete ? 'Atleta' : 'Entrenador' }}</h1>
  </section>

  <!-- Profile details -->
  <section class="profile-details">
    <p><strong>License Number:</strong> {{ profile.numeroLicencia }}</p>
    <p><strong>First Name:</strong> {{ profile.nombre }}</p>
    <p><strong>Last Name:</strong> {{ profile.apellido }}</p>
    <p *ngIf="isAthlete">
      <strong>Coach:</strong>
      <a [routerLink]="['/profile/coach/', profile.entrenadorId]">{{ profile.entrenador }}</a>
    </p>
    <p><strong>Date of Birth:</strong> {{ profile.fechaNacimiento }}</p>
    <p><strong>Disciplines:</strong></p>
    <ul>
      <li *ngFor="let disciplina of profile.disciplinas">{{ disciplina }}</li>
    </ul>

    <!-- Results or Athletes Table -->
    <h2>{{ isAthlete ? 'Results' : 'Athletes' }}</h2>
    <table>
      <thead>
      <tr>
        <th *ngIf="isAthlete">Event</th>
        <th>Discipline</th>
        <th>{{ isAthlete ? 'Result' : 'Date of Birth' }}</th>
      </tr>
      </thead>
      <tbody>
      <!-- Bloque para atletas -->
      <ng-container *ngIf="!isAthlete">
        <tr *ngFor="let item of paginatedAthletes">
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName}}</td>
          <td>{{ item.fechaNacimiento }}</td>
        </tr>
      </ng-container>

      <!-- Bloque para resultados -->
      <ng-container *ngIf="isAthlete">
        <tr *ngFor="let item of paginatedResults">
          <td>{{ item.evento }}</td>
          <td>{{ item.disciplina }}</td>
          <td>{{ item.valor }}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </section>

  <!-- Action buttons -->
  <div class="actions">
    <button (click)="goBack()" class="btn-secondary">Back</button>
    <button (click)="editProfile()" class="btn-primary">Edit</button>
    <button (click)="deleteProfile()" class="btn-danger">Delete</button>
  </div>

  <!-- Error message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</main>

<footer>
  <div class="contact-info">
    <p><i class="fas fa-phone"></i> +34 600 123 456
      <i class="fab fa-instagram"></i> &#64;aam_mostoles
      <i class="fab fa-facebook"></i> AAM Club
    </p>
  </div>
</footer>
<router-outlet></router-outlet>
