<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Miembros del Club</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/css/responsive.css">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

</head>
<body>
	<!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo"><a href="/"><img src="/images/logo.png"></a></div>
                </div>
                <div class="col-md-9">
                    <div class="menu_text">
                        <ul>
                            <li><a href="/">INICIO</a></li>
                            <li><a href="/coachs/">MIENBROS DEL CLUB</a></li>
                            <li><a href="/events/?order=Proximo">EVENTOS</a></li>
                            <li><a href="/athletes/">RANKING</a></li>
                            <li><a href="/events/calendario/">CALENDARIO</a></li>
                            <li><a href="#"><img src="/images/search-icon.png"></a></li>
                            <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <div class="overlay-content">
                                    <a href="/">INICIO</a>
                                    <a href="/coachs/">MIEMBROS DEL CLUB</a>
                                    <a href="/events/?order=Proximo">EVENTOS</a>
                                    <a href="/events/calendario/">CALENDARIO DE EVENTOS</a>
                                    <a href="/athletes/">RANKING</a>
                                    <a href="class.html">DISCIPLINAS</a>
                                    <a href="#">INICIAR SECION</a>
                                </div>
                            </div>
                            <span  style="font-size:33px;cursor:pointer; color: #ffffff;" onclick="openNav()"><img src="/images/toggle.png" class="toggle_menu"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- about section start -->
    <div class="about_section_2 layout_padding">
        <div class="container">
            <h1 class="about_text_2"><strong>NUESTRO EQUIPO</strong></h1>
            <p class="client_long_text">Contamos con un grupo de profecionales dedicados, con una gran pacion por el atletismo dispuestos a compartir esa pacion con los interesados.</p>
        </div>
    </div>
    <div class="about_section about_main">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital">
                    <h1 class="about_text">NUESTROS ENTRENADORES</h1>
                        <div class="athlete_list">
                            <a>TExto de prueba</a>
                            <!-- Coach list -->
                            {{#coachs.content}}
                            <li class="athlete_item"><a href="/coachs/{{license}}">{{license}} {{name}} {{lastname}} {{discipline}}</a></li>
                            {{/coachs.content}}
                        </div>
                        <!-- Pagination controls -->
                        <div class="pagination">
                            <a href="/coachs/?page={{previousPageNumber}}">
                                <button class="about_bt" {{^hasPrevious}} disabled> {{/hasPrevious}} {{#hasPrevious}} > {{/hasPrevious}}
                                    Anterior
                                </button>
                            </a>
                            <label class="pagesnumber">  {{current}} de {{coachs.totalPages}} páginas  </label>
                            <a href="/coachs/?page={{nextPageNumber}}">
                                <button class="about_bt" {{^hasNext}} disabled> {{/hasNext}} {{#hasNext}} > {{/hasNext}}
                                    Siguiente
                                </button>
                            </a>
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="coach_filter_section">
                    <div class="row">
                        <div class="contact_bg">
                            <div class="input_main">
                                <div class="container">
                                    <h2 class="request_text">BUSCA TU ENTRENADOR PREFERIDO</h2>
                                    <form action="/action_page.php">
                                        <div class="form-group">
                                            <input type="text" placeholder="Nombre" name="name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Disciplina" name="discipline">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" placeholder="Licencia" name="license">
                                        </div>
                                    </form>
                                </div>
                                <div class="send_bt"><a href="#">BUSCAR</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_bt"><a href="#">Gestionar listado de Entrenadores</a> </div>
    <!-- about section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="footer_section_2">
            <div class="container">
                <div class="row map_addres">
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="/images/map-icon.png"><span class="map_icon"> Av. de Iker Casillas, S/N, 28935 Móstoles, Madrid</span></div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="/images/phone-icon.png"><span class="map_icon">( +34  606379480 )</span></div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="/images/email-icon.png"><span class="map_icon">demo@gmail.com</span></div>
                    </div>
                </div>
                <div class="social_icon">
                    <ul>
                        <li><a href="#"><img src="/images/fb-icon.png"></a></li>
                        <li><a href="#"><img src="/images/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="/images/in-icon.png"></a></li>
                        <li><a href="#"><img src="/images/instagram-icon.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- footer section end -->


    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 


   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>



     
</body>
</html>    