<header>
  <div class="logo">
    <img src="/assets/images/logo.png" alt="logo">A.A Mostoles
  </div>
  <nav>
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/miembros">Miembros del Club</a>
    <a mat-button routerLink="/ranking">Ranking</a>
    <a mat-button routerLink="/eventos">Eventos</a>
    <a mat-button routerLink="/calendario">Calendario</a>
  </nav>
  <div class="LogSection">
    <button mat-raised-button color="accent" *ngIf="!isLoggedIn" (click)="login()"> LogIn </button>
    <button mat-raised-button color="warn" *ngIf="isLoggedIn" (click)="logout()"> LogOut </button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">Inicio</a>
    <a mat-menu-item routerLink="/miembros">Miembros del Club</a>
    <a mat-menu-item routerLink="/ranking">Ranking</a>
    <a mat-menu-item routerLink="/eventos">Eventos</a>
    <a mat-menu-item routerLink="/calendario">Calendario</a>
    <a mat-menu-item routerLink="/disciplines">Disciplinas</a>
    <a mat-menu-item routerLink="/login">Inicio de Sesión</a>
    <a mat-menu-item routerLink="/user-profile">User Profile</a>

  </mat-menu>
</header>

<section class="section-1">
  <div class="overlay">
    <h1>Nuestros Entrenadores</h1>
    <p>Contamos con los mejores entrenadores, comprometidos con el atletismo y la enseñanza.</p>
  </div>
</section>

<section class="section-container" style="display: flex;">
    <mat-card class="filters">
      <mat-card-title>Filtrar Entrenadores</mat-card-title>
      <mat-card-content>
        <form (submit)="applyFilters()">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="filters.firstName" name="firstName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput [(ngModel)]="filters.lastName" name="lastName">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Número de Licencia</mat-label>
            <input matInput [(ngModel)]="filters.licenseNumber" name="licenseNumber">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Disciplina</mat-label>
            <input matInput [(ngModel)]="filters.discipline" name="discipline">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Aplicar Filtros</button>
        </form>
      </mat-card-content>
    </mat-card>

  <div id="list-section" class="list-section">
    <h2>Lista de Entrenadores</h2>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="licenseNumber">
        <mat-header-cell *matHeaderCellDef> Número de Licencia </mat-header-cell>
        <mat-cell *matCellDef="let coach" (click)="goToCoachProfile(coach)"> {{ coach.licenseNumber }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let coach" (click)="goToCoachProfile(coach)"> {{ coach.firstName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let coach" (click)="goToCoachProfile(coach)"> {{ coach.lastName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="disciplines">
        <mat-header-cell *matHeaderCellDef> Disciplinas </mat-header-cell>
        <mat-cell *matCellDef="let coach"> {{ formatDisciplines(coach.disciplines) }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="clickable-row"></mat-row>
    </mat-table>
    <div class="pagination-controls">
      <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
    <button mat-raised-button color="primary" *ngIf="isAdmin" (click)="openNewCoachDialog()">Nuevo Entrenador</button>
  </div>
</section>

<footer>
  <div class="contact-info">
    <p><i class="fas fa-phone"></i> +34 600 123 456</p>
    <p><i class="fab fa-instagram"></i> &#64;aam_mostoles</p>
    <p><i class="fab fa-facebook"></i> AAM Club</p>
  </div>
</footer>

<router-outlet></router-outlet>
