<header>
  <div class="logo">
    <img src="/assets/images/logo.png" alt="logo"> A.A Mostoles
  </div>
  <nav>
    <a mat-button routerLink="/">Inicio</a>
    <a mat-button routerLink="/miembros">Miembros del Club</a>
    <a mat-button routerLink="/ranking">Ranking</a>
    <a mat-button routerLink="/eventos">Eventos</a>
    <a mat-button routerLink="/calendario">Calendario</a>
  </nav>

  <div class="LogSection">
    <button mat-raised-button color="accent" *ngIf="!isLoggedIn" (click)="login()"> LogIn </button>
    <button mat-raised-button color="warn" *ngIf="isLoggedIn" (click)="logout()"> LogOut </button>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">Inicio</a>
    <a mat-menu-item routerLink="/miembros">Miembros del Club</a>
    <a mat-menu-item routerLink="/ranking">Ranking</a>
    <a mat-menu-item routerLink="/eventos">Eventos</a>
    <a mat-menu-item routerLink="/calendario">Calendario</a>
    <a mat-menu-item routerLink="/disciplines">Disciplinas</a>
    <a mat-menu-item routerLink="/login">Inicio de Sesión</a>
  </mat-menu>
</header>

<div class="login-container">
  <mat-card class="login-form">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username">
          <mat-error *ngIf="isInvalid('username')">
            El usuario es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="isInvalid('password')">
            La contraseña es obligatoria.
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div class="form-actions">
          <button mat-raised-button color="primary" (click)="onSubmit()">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<footer>
  <div class="contact-info">
    <p><i class="fas fa-phone"></i> +34 600 123 456
      <i class="fab fa-instagram"></i> &#64;aam_mostoles
      <i class="fab fa-facebook"></i> AAM Club
    </p>
  </div>
</footer>

<router-outlet></router-outlet>
