<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Calendario</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/js/calendar_script.js" />
</head>
<body>
<!--header section start -->
<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="logo"><a href="index.html"><img src="../static/images/logo.png"></a></div>
            </div>
            <div class="col-md-9">
                <div class="menu_text">
                    <ul>
                        <li><a href="index.html">INICIO</a></li>
                        <li><a href="clubmembers.html">MIENBROS DEL CLUB</a></li>
                        <li><a href="events.html">EVENTOS</a></li>
                        <li><a href="athletes">RANKING</a></li>
                        <li><a href="contact.html">CONTACTANOS</a></li>
                        <li><a href="#"><img src="../static/images/search-icon.png"></a></li>
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a href="index.html">INICIO</a>
                                <a href="clubmembers.html">MIEMBROS DEL CLUB</a>
                                <a href="events.html">EVENTOS</a>
                                <a href="events_calendar.html">CALENDARIO DE EVENTOS</a>
                                <a href="athletes">RANKING</a>
                                <a href="class.html">DISCIPLINAS</a>
                                <a href="contact.html">CONTACTANOS</a>
                                <a href="#">INICIAR SECION</a>
                            </div>
                        </div>
                        <span  style="font-size:33px;cursor:pointer; color: #ffffff;" onclick="openNav()"><img src="../static/images/toggle.png" class="toggle_menu"></span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- calendar section start -->
    <div class="cal_container">
        <div class="left">
            <div class="calendar">
                <div class="month">
                    <i class="fas fa-angle-left prev"></i>
                    <div class="date"></div>
                    <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Dom</div>
                    <div>Lun</div>
                    <div>Mar</div>
                    <div>Mie</div>
                    <div>Jue</div>
                    <div>Vie</div>
                    <div>Sab</div>
                </div>
                <div class="days"></div>
                <div class="goto-today">
                    <div class="goto">
                        <input type="text" placeholder="mm/aaaa" class="date-input" />
                        <button class="goto-btn">Ir</button>
                    </div>
                    <button class="today-btn">Hoy</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="today-date">
                <div class="event-day"></div>
                <div class="event-date"></div>
            </div>
            <div class="events"></div>
            <div class="add-event-wrapper">
                <div class="add-event-header">
                    <div class="title">Agregar Evento</div>
                    <i class="fas fa-times close"></i>
                </div>
                <div class="add-event-body">
                    <div class="add-event-input">
                        <input type="text" placeholder="Event Name" class="event-name" />
                    </div>
                    <div class="add-event-input">
                        <input
                                type="text"
                                placeholder="Event Time From"
                                class="event-time-from"
                        />
                    </div>
                    <div class="add-event-input">
                        <input
                                type="text"
                                placeholder="Event Time To"
                                class="event-time-to"
                        />
                    </div>
                </div>
                <div class="add-event-footer">
                    <button class="add-event-btn">Agregar Evento</button>
                </div>
            </div>
        </div>
        <button class="add-event">
            <i class="fas fa-plus" content="a"></i>
        </button>
    </div>
    <script src="../static/js/calendar_script.js"></script>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <label><a class="about_bt" href="...">Añadir Nuevo Evento</a></label>
            <label><a class="about_bt" href="events_calendar.html">Volver a la lista de Eventos</a></label>
        </div>
    </div>

    <!-- calendar section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="footer_section_2">
            <div class="container">
                <div class="row map_addres">
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="../static/images/map-icon.png"><span class="map_icon">Av. de Iker Casillas, S/N, 28935 Móstoles, Madrid</span></div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="../static/images/phone-icon.png"><span class="map_icon">(+34 606379480)</span></div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="map_text"><img src="../static/images/email-icon.png"><span class="map_icon">demo@gmail.com</span></div>
                    </div>
                </div>
                <div class="social_icon">
                    <ul>
                        <li><a href="#"><img src="../static/images/fb-icon.png"></a></li>
                        <li><a href="#"><img src="../static/images/twitter-icon.png"></a></li>
                        <li><a href="#"><img src="../static/images/in-icon.png"></a></li>
                        <li><a href="#"><img src="../static/images/instagram-icon.png"></a></li>
                    </ul>
                </div>
                <p class="copyright_text">Copyright 2019 All Right Reserved By.<a href="https://html.design"> Free  html Templates</p>
            </div>
        </div>
    </div>
    <!-- footer section end -->






    <!-- Javascript files-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery-3.0.0.min.js"></script>
    <script src="../static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../static/js/custom.js"></script>
    <!-- javascript -->
    <script src="../static/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function(){

                $(this).addClass('transition');
            }, function(){

                $(this).removeClass('transition');
            });
        });
    </script>


    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
    </script>




</body>
</html>