/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-calendar-body-cell.event-highlight .mat-calendar-body-cell-content {
  border: 2px solid #026216 !important;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.58) !important;
}

/* Elimina fondo y sombra del contenedor del snackbar */
.custom-snackbar-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Elimina sombra generada automáticamente */
.custom-snackbar-container::before {
  background: transparent !important;
  box-shadow: none !important;
  display: none !important;
}

/* Estilo del contenido real de la notificación */
.snackbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #1b5e20;
  font-weight: bold;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}
